NDRQ1Y_1012/RJ_orarendhez.xml

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="qualified">

    <xs:element name="orarend" type="orarendTipus"></xs:element>

    <xs:complexType name="orarendTipus">
        <xs:sequence>
            <xs:element name="ora" maxOccurs="unbounded" minOccurs="0" type="oraTipus"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="oraTipus">
        <xs:sequence>
            <xs:element name="targy" type="xs:string" />
            <xs:element name="idopont" type="idopontTipus"></xs:element>
            <xs:element name="helyszin" type="xs:string" />
            <xs:element name="oktato" type="xs:string" />
            <xs:element name="szak" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attribute name="tipus" type="xs:string" use="required" />
    </xs:complexType>



    <xs:simpleType name="oraTipusTipus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="előadás"/>
            <xs:enumeration value="gyakorlat"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="idopontTipus">
        <xs:sequence>
            <xs:element name="nap" type="napTipus" />
            <xs:element name="tol" type="idopontOraTipus" />
            <xs:element name="ig" type="idopontOraTipus" />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="napTipus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="hétfő"/>
            <xs:enumeration value="kedd"/>
            <xs:enumeration value="szerda"/>
            <xs:enumeration value="csütörtök"/>
            <xs:enumeration value="péntek"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="idopontOraTipus">
        <xs:restriction base="xs:positiveInteger">
            <xs:enumeration value="8"/>
            <xs:enumeration value="18"/>
        </xs:restriction>
    </xs:simpleType>


</xs:schema>
    